.price {
  background-image: url("../img/layer.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  color: $white;
  @include montserrat;

  &__title {
    font-size: 28px;
    line-height: 42px;
    padding: 14px 0 32px 0;
  }

  &__container {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--item {
      width: calc(100% - 20px);
      max-width: 260px;
      margin: 0 auto 18px auto;
      background-color: rgba(255, 255, 255, 0.2);

      &__title {
        padding: 34px 0;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 24px;
        background-color: rgba(255, 255, 255, 0.2);
      }

      &__price {
        padding-top: 34px;
        font-size: 60px;
        line-height: 62px;
        font-weight: bold;
      }
      &__time {
        padding-top: 20px;
        font-size: 14px;
        line-height: 16px;
      }
      &__options {
        width: 81%;
        margin: 0 auto;
        position: relative;
        padding-top: 53px;
        font-size: 16px;
        line-height: 28px;

        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 28px;
          left: 36%;
          width: 60px;
          height: 5px;
          background-color: #8D81AC;
        }
      }
      &__link {
        margin: 40px 0 40px 0;
        padding: 15px 40px;
        border-radius: 20px;
        display: inline-block;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 15px;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
.price__container--item:first-child .price__container--item__link {
  margin: 64px 0 44px 0
}

.price__item--active {
  background-color: rgba(70, 48, 72, 0.8);
  max-width: 280px;
}

.price__item--active > .price__item--active__title {
  padding: 48px 0;
  background-color: rgba(0, 0, 0, .1)
}

.price__item--active > .price__container--item__options {
  padding: 91px 0 0 0;
}

.price__item--active > .price__container--item__options:before {
  top: 48px
}

.price__item--active > .price__container--item__link {
  margin: 83px 0 47px 0;
}

