.editor{
  padding-top: 80px;
  text-align: center;
  &__title{
    padding-top: 80px;
    padding-bottom: 30px;
    color: #635C73;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    @include montserrat
  }
  &__description{
    width: 280px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    color: $black;
    @include lato
  }
  &__items{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .editor__item{
    overflow: hidden;
    border: 1px solid #d4d5d6;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    &:nth-child(2){
      margin-left: 10px;
    }
    &--link{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $black;
      background-color: #f3f4f6;
      border-radius: 6px;
      &__text{
        padding: 5px;
        border-right: 1px solid #d4d5d6;
      }
      &__svg{
        display: inline-block;
        margin: 0 5px 0 12px;
        height: 16px;
        width: 16px;
        fill: $black;
      }
    }
  }
  .editor--link__number{
    display: inline-block;
    background-color: $white;
    padding: 5px;
  }
}
