.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/dist/img/photoeditorsdk-export.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 18%;

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: $white;
    font-family: Montserrat;
    padding-bottom: 53px;
  }

  &__blocks {
    display: grid;

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__text {
        width: 84%;
        padding-top: 33px;
        padding-bottom: 45px;
        color: $white;
        font-size: 16px;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        line-height: 24px;
      }
    }
  }
  &__sub{
    font-family: lato;
    line-height: 21px;
    color: $lightViolet;
    text-align: center;
    width: 92%;
    padding-bottom: 18px;
    border-bottom: solid 2px $lightViolet;
  }
}