@media (min-width: 320px) and (max-width: 480px) {
  .people{

    &__blocks{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
      justify-items: center;
      &--item{
        &__img{
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .people__blocks {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 60px;
    grid-column-gap: 8%;
    align-items: baseline;
    &--item{
      vertical-align: baseline;
    }
  }
}
@media (min-width: 993px) {
  .people {
    &__blocks {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-row-gap: 60px;
      grid-column-gap: 8%;
      align-items: baseline;
    }
    &__sub{
      width: 65%;
    }
  }
}