@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/*font-family: 'Montserrat'*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/*font-family: 'Lato', sans-serif;*/
@import "mix_in";
@import "var";
.container{
  max-width: 1200px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
}
@import "sections/editor";
@import "sections/you-get";
@import "sections/price";
@import "media/media 481 до 992";
@import "media/media 993-1200";
@import "media/media_more 1200";

